<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    
    <%- include('../partials/nav.ejs') %>

    <div class="content">
      <div class="flex flex-col w-full h-auto border shadow">
        <img src="<%= report.image %>" alt="<%= report.title %>" style="width:100%">
        <div class="p-8 ">
          <h3 class="text-gray-900 text-4xl font-bond"><%= report.title %></h3>
          <h5 class="text-xl">I am <%= report.withness %> <span class="opacity float-right text-sm text-orange-500"><%= report.createdAt.toLocaleString() %></span></h5>
          <p class="text-gray-500 mt-4"><%= report.tbody %></p>
        </div>
        <div class="flex justify-evenly">
          <a href="/reports" class="flex items-center justify-center">
            <button class="bg-transparent hover:bg-orange-500 text-orange-700 font-semibold hover:text-white py-2 px-4 border border-orange-500 hover:border-transparent rounded mb-4">Report</button>
          </a>
          <a href="/dashboard" class="flex items-center justify-center">
            <button class="bg-transparent hover:bg-orange-500 text-orange-700 font-semibold hover:text-white py-2 px-4 border border-orange-500 hover:border-transparent rounded mb-4">Dashboard</button>
          </a>
        </div>
     </div>
    </div>
    

    <%- include('../partials/footer.ejs') %>
    <script>
      const button = document.querySelector("#menu-button");
      const menu = document.querySelector("#menu");
      button.addEventListener("click", () => {
          menu.classList.toggle("hidden");
      });
  </script>

    
</body>
</html>