<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/nav.ejs') %>
    <div class="content">
      <div class="">
        <h2 class="font-bold capitalize text-4xl text-orange-500">
          All Reports
        </h2>
        <% if (reports.length > 0) { %> <% reports.forEach(report => { %>
        <div
          class="relative w-full flex flex-col p-4 shadow rounded-r-lg border-l-4 border-orange-500 mb-4"
        >
          <div class="flex justify-between">
            <div class="">
              <a href="/reports/<%= report._id %>" class=""
                ><h3
                  class="font-bold capitalize text-xl text-orange-500 hover:text-orange-900"
                >
                  <%= report.title %>
                </h3></a
              >
              <p class="text-clip overflow-hidden ...">
                Reported by <%= name %>
              </p>
            </div>
            <div>
              <!-- edit icon -->
              <a href="/reports/edit/<%= report._id %>">
                <svg
                  class="w-6 h-6"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"
                  ></path>
                </svg>
              </a>
              <!-- delete icon -->
              <form
                action="/reports/<%= report._id %>?_method=DELETE"
                method="POST"
              >
                <button type="submit">
                  <svg
                    class="w-6 h-6"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                    ></path>
                  </svg>
                </button>
              </form>
            </div>
          </div>
        </div>

        <% }) %> <% } else { %>
        <p>There is no report to display...</p>
        <% } %>
      </div>
    </div>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
