<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/nav.ejs') %>

    <div class="py-12 mt-12 w-full flex flex-col items-center">
        <form action="/resetpassword" method="POST"  class="max-w-xl w-full text-gray-200 mt-4 px-8 md:px-0">
            <div class="flex flex-col md:flex-row md:-mx-2 mb-6">
                <% if (locals.messages.success) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="text-green-700 font-bold"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
            </div>
            <div class="flex flex-col md:flex-row md:-mx-2 mb-6">
                <label for="password" class="w-full mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">New password</label>
                <input type="email" name="password" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="john@email.com" required="">
            </div>

            <div class="flex flex-col md:flex-row md:-mx-2 mb-6">
                <label for="confirmPassword" class="w-full mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Confirm password</label>
                <input type="password" name="confirmPassword" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
            </div>
            <div class="flex flex-col  md:-mx-2 items-center justify-center">
                <div>
                    <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="text-red-700 font-bold"><%= el.msg %></div>
                    <% }) %>    
                    <% } %>
                    <% if (locals.messages.info) { %>
                        <% messages.info.forEach( el => { %>
                            <div class="text-yellow-700 font-bold"><%= el.msg %></div>
                        <% }) %>    
                    <% } %>
                </div>
                <div class="mt-4 text-center text-gray-900">Don't have an account <a href="/signup" class="text-red-700 hover:text-red-800 font-bold">Sign up</a></div>
            </div>
            <div class="flex flex-col md:flex-row md:-mx-2">
                <button type="submit" class="bg-blue-600 hover:bg-blue-800 text-sm mt-4 md:mx-2 rounded-lg py-2 px-4 block w-full focus:outline-none focus:shadow-outline">
                    Login
                </button>
            </div>
        </form>
    </div>


    <%- include('partials/footer.ejs') %>
    <script>
        const button = document.querySelector("#menu-button");
        const menu = document.querySelector("#menu");
        button.addEventListener("click", () => {
            menu.classList.toggle("hidden");
        });
    </script>

</html>